.butao {
  border: 1px solid black;
}

input {
  border: none;
}

.a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
}