@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}

body {
  background-color: #F2F4F7;
}

.butao {
  display: flex;
  height: 24px;
  align-items: center;
  box-shadow: 0 0 1.5px black;
  padding: 8px;
  flex: 1;
  border-radius: 5px;
  margin: 15px;
}

.logo {
  padding: 5px;
  height: 40px;
  border-radius: 4px;
  background-color: #0866FF;
  align-items: center;
}

input {
  background-color: #F2F4F7;
  border: none;
  padding: 5px;
  list-style-type: none;
}

.cabeca {
  background-color: #ffff;
  display: flex;
  box-shadow: 0 0 1.5px black;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.card {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.cards {
  background-color: #ffff;
  flex: 1;
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
  box-shadow: 0 0 1px black;
  display: flex;
  margin: 5px;
  padding: 20px;
}

.busca {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 15px;
}

.header {
  display: flex;
  gap: 12px;
  align-items: center;
}

.botao {
  background-image: linear-gradient(to right, #77A7FF, #1877F2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-weight: 600;
  border: none;
  justify-content: space-between;
  gap: 16px;
  color: white;
  padding: 10px;
}

.num {
  font-size: 25px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
}

h1, .cab {
  margin-top: 5px;
}

.icon {
  display: flex;
  padding: 5px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 218, 221);
}

.cadastro {
  margin: 15px;
  box-shadow: 0 0 1.5px black;
  border-radius: 5px;
}

.descricao {
  display: flex;
  height: 25px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.cadastrando {
  display: flex;
  box-shadow: 0 0 1.5px black;
  align-items: center;
  background-color: #ffff;
  height: 55px;
  justify-content: space-between;
  padding: 10px;
}

.icones {
  display: flex;
  width: 50px;
  justify-content: space-between;
}